*{
    padding: 0pt;
    margin: 0pt;
}

/* <--- BARRA DE NAVEGACIÓN --->*/
nav{
    width: 100%;
    height: 5em;
    background-color: black;
    font-family: 'Creepster', cursive;
    font-size: 1.3rem;
    color: green;
    margin-bottom: 1%
}

ul{
    list-style: none;
}

.navegacion > li{
    padding: 1em;
    float: left;
}
.navegacion li a {
    color: green;
    text-shadow: 1px 1px 1px white;
    background-color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}


.navegacion li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.navegacion li:hover > ul {
    display:block;
}

.navegacion li ul li {
    position:relative;
}

.navegacion li ul li ul {
    right:-140px;
    top:0px;
}

/*<--- CONETNIDO DE LA PAGINA --->*/

body{
    background-image: url(./../fotos/terror.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenido{
    width: 70%;
    height: 90%;
    margin: auto;
    background-color: rgb(66, 0, 66, 0.79);
    padding: 1em;
    border-radius: 15px;
}

footer{
    background-color: black;
    color: red;
    font-size: 1.3em;
    padding: .8em;
    text-align: center;
    font-family: 'Creepster', cursive;
}

.pelicula{
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 5px 5px 5px black;
    
}


/* CABECERA DE LA PELICULA*/

.cabeceraPeli{
    margin-bottom: 20px;
}

.cabeceraPeli h2{
    width: 50%;
    display: inline;
    font-size: 2.5em;
    
}

.cabeceraPeli p{
    width: 15%;
    float: right;
    text-align: right;
    font-size: 1.5em;
}

/* PARTE CENTRAL DE LA PELICULA*/

.imagenPeli{
    margin-left: 5%;
    max-height: 18rem;
    border-radius: 8px;
    border: 1px solid black;
    
}

.descripcion{
    width: 65%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 1.2rem;
}



/* PIE DE LA PELICULA*/

.piePeli{
    width: 100%;
    padding: 1em;
    margin-bottom: 30px;
}

.piePeli p{
    width: 50%;
    float: left;
}

#enlace{

    text-align: right;
}
#enlace a{
    color: white;
    text-decoration: none;
}

#enlace a:hover{
    color: rgb(255, 0, 0);
    padding: 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}




/*<--- ESTILOS DE LA FICHA --->*/

.pelicula-Ficha{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px pink;
}

.imagenPeli-Ficha{
    max-height: 600px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px black;
    width: auto;
}

.dimg-Ficha{
    width: 100%;
    text-align: center;
}

.sinopsis{
    padding: 1em 0em;
}

.cabeceraPeli-Ficha{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: .5rem;
}

.pelicula-Ficha p{
    font-size: 1.2em;
    text-align: justify;
}

.centPeli-Ficha{
    margin-bottom: 1em;
}

.piePeli-Ficha p{
    width: 50%;
    float: left;
    margin-bottom: 1em;
}

#voto{
    text-align: right;
}

.piePeli-Ficha{
    margin-bottom: 1rem;
}

#enviar{
    
    font-size: 1rem;
    width: 30%;
}

.volver{
    float: right;
    text-decoration: none;
    text-align: center;
    width: 25%;
}
.cositas{
    padding: 15px;
    background-color: rgb(92, 0, 92);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.cositas:hover{
    background-color: rgb(42, 0, 42);
}